[submodule "deps/vcpkg"]
	path = deps/vcpkg
	url = https://github.com/Microsoft/vcpkg.git
[submodule "deps/cocos-headers"]
	path = deps/cocos-headers
	url = https://github.com/AndreNIH/cocos-headers
[submodule "deps/mat-dash"]
	path = deps/mat-dash
	url = https://github.com/AndreNIH/mat-dash
[submodule "deps/gd"]
	path = deps/gd
	url = https://github.com/AndreNIH/gd.h
[submodule "deps/minhook"]
	path = deps/minhook
	url = https://github.com/HJfod/minhook.git
